.block-editor-group {
    margin: 0 -2rem;
    .block.group.selected::before, 
    .block.group:hover::before {
        border-style: dashed;
        border-radius: 1rem;
    }
    .section-block {
        padding-top: 2rem;
        padding-bottom: .1rem;
    }
}
