.block-editor-group {
  margin: 0 -2.2rem;

  .block-editor-group {
    margin: 0 0.1rem;
  }

  .selected {
    .delete-button {
      display: none !important;
    }

    .block-add-button {
      display: none !important;
    }
  }

  .block.group.selected::before,
  .block.group:hover::before {
    border-style: dashed;
    border-radius: .5rem;
  }

  .section-block {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    margin: 0 2rem;
  }

  .counter {
    display: grid;
    align-items: center;
    font-size: 85%;
    grid-gap: 0.5em;
    grid-template-columns: 98% auto;
  }

  .blocks-chooser {
    margin-top: 50px;
    left: auto;
    right: 0;
  }

  .block-toolbar {
    position: absolute;
    z-index: 3;
    right: -9px;
    display: flex;
    padding: 5px;
    border: none;
    border: 1px solid #78c0d7bf;
    border-bottom: 1px solid #fff;
    margin-top: -45px;
    background-color: #fff;

    .ui.basic.button {
      padding: 3px;
      padding-right: 0;
    }

    .wrapper-column-block {
      > .ui.basic.button {
        &:hover {
          background-color: transparent !important;
        }
      }
    }

    > .ui.basic.button {
      &:hover {
        background-color: transparent !important;
      }

      svg {
        color: #134448;
      }
    }

    .drag.handle.wrapper-column-block {
      position: initial;
      left: initial;
      min-height: 1em;
      margin-left: initial !important;
      font-size: 1rem;
      line-height: 1em;
      vertical-align: baseline;
    }
  }
}
