@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

@borderColor: rgba(120, 192, 215, 0.75);

.block-editor-group {
  [data-rbd-draggable-context-id] {
    margin-bottom: 1rem;
  }

  .delete-button {
    display: none !important;
  }

  .block-add-button {
    display: none !important;
  }

  .block.group.selected::before,
  .block.group:hover::before {
    border-style: dashed;
  }

  fieldset {
    border: none;

    legend {
      position: absolute;
      z-index: 3;
      top: -1.3em;
      left: 0;
      width: fit-content;
      padding: 0 1rem;
      margin-right: auto;
      margin-left: auto;
      background-color: @pageBackground;
      color: @borderColor;
      cursor: pointer;
      text-align: center;
    }
  }

  .section-block {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    margin: 0;
  }

  .counter {
    display: grid;
    align-items: center;
    font-size: 85%;
    grid-gap: 0.5em;
    grid-template-columns: 98% auto;
  }

  .blocks-form {
    margin-top: 0.5rem;
  }

  .blocks-chooser {
    right: 0;
    left: auto;
    margin-top: 3rem;
  }

  .block-toolbar {
    position: absolute;
    z-index: 3;
    right: -9px;
    display: flex;
    padding: 5px;
    border: none;
    border: 1px solid @borderColor;
    border-bottom: 1px solid @pageBackground;
    margin-top: -45px;
    background-color: @pageBackground;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .ui.basic.button {
      padding: 3px;
      padding-right: 0;
    }
  }
}
